html {
background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}

.flex-container {
  display: inline-flex;
}

span {
  justify-content: flex-end;
}

.content {
  text-align: center;
}
